<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item {% if not products.has_previous %} disabled {% endif %}">
            <a class="page-link"
               href="{% if products.has_previous %}?page={{ products.previous_page_number }}{% else %}#{% endif %}"
               tabindex="-1" aria-disabled="true">
                Предыдущая</a>
        </li>
        {% for num in products.paginator.page_range %}
        <li class="page-item {% if num == products.number %} active {% endif %}">
            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
        </li>
        {% endfor %}

        <li class="page_item {% if not products.has_next %} disabled {% endif %}">
            <a class="page-link"
               href="{% if products.has_next %}?page={{ products.next_page_number }}{% else %}#{% endif %}">
                Следующая
            </a>
        </li>
    </ul>
</nav>