<div class="order-form">

    <div class="card">

        <div class="card-body">
            <b>Заполните форму получение товара</b>

            <div class="mb-2">
                <label>username</label>
                <label for="{{ form.username.id_for_label }}"></label>
                {{form.username}}
            </div>

            <div class="mb-2">
                <label>email</label>
                <label for="{{ form.email.id_for_label }}"></label>
                {{ form.email }}
            </div>

            <div class="mb-2">
                <label>first name</label>
                <label for="{{ form.first_name.id_for_label }}"></label>
                {{ form.first_name }}
            </div>

            <div class="mb-2">
                <label>last name</label>
                <label for="{{ form.last_name.id_for_label }}"></label>
                {{ form.last_name }}
            </div>

            <div class="mb-2">
                <label>address</label>
                <label for="{{ form.address.id_for_label }}"></label>
                {{ form.address }}
            </div>

            <div class="mb-2">
                <label>mobile</label>

                <div class="input-group w-100">
                    <span class="input-group-text">+380</span>
                    <input type="text" name="mobile" class="form-control">
                </div>
            </div>

            <div class="form-check mb-3">
                <input type="checkbox">
                <label class="form-check-label">
                    save details for fast payments
                </label>
            </div>

            <div class="d-flex">
                <button class="btn btn-success mr-2 w-100">Подтвердить и оплатить</button>
            </div>

        </div>

    </div>

</div>