<div class="order-form">

    <div class="card">

        <div class="card-body">
            <b>Заполните форму получение товара</b>

            <div class="mb-2">
                 <label for="{{ form.username.id_for_label }}"></label>
                 {{form.username}}
            </div>

            <div class="mb-2">
                 <label for="{{ form.email.id_for_label }}"></label>
                {{ form.email }}
            </div>

            <div class="mb-2">
                <label for="{{ form.first_name.id_for_label }}"></label>
                {{ form.first_name }}
            </div>

            <div class="mb-2">
               <label for="{{ form.last_name.id_for_label }}"></label>
                {{ form.last_name }}
            </div>

            <div class="mb-2">
                <label for="{{ form.address.id_for_label }}"></label>
                {{ form.address }}
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" checked>
                <label class="form-check-label">
                    Save details for fast payments
                </label>
            </div>

            <div class="d-flex">
                <button class="btn btn-success mr-2 w-100">Подтвердить и оплатить</button>
            </div>

        </div>

    </div>

</div>